# Environments
.env
.env.*

# 가상환경
venv/

# 교재 깃허브 소스 raw 파일
gpt_agent_2025_easyspub-main/

# 파이썬 캐시 안 올라가게
__pycache__/
**/__pycache__/

# 고용량의 문서와 벡터 DB 제외
chap09/data/
chap13/data/
**/chroma_store/
chap15/outline-generation-multi-agent-chatbot/data/
chap16/outline-generation-multi-agent-chatbot/data/